* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body 
{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #eee;
  color:darkslategray;
}
/* Header Style Section */
header
{
  display: flex;
  background-color: slategray;
  height: 10px;
  padding: 10px 20px 10px 0px;
}
header .logo
{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background-color: lightblue;
  width: 50%;
  height: 100%;
  padding-right: 5%;
}
header .logo h1
{
  font-size: 2cm;
  margin-left: 10px;
}
header nav ul 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  width:auto;
}

header nav a
{
  color:lightblue;
  margin:5px;
}
/* Header Image Style */
.main-image 
{
  background-image: url("../images/header-image.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  height: 200px;
  width: 100%;
  margin-bottom: 0px;
}

.subtitle
{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  background-color: #80c9cb;
  bottom: 20px;
  right: 20px;
  width: 200px;
  padding: 5%;
}
.subtitle h1
{
  font-size: 20px;
}
/* Main Section Styling */
main 
{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  color: slategray;
}

section h1 h2
{
  display: flex;
  flex-direction: column;
  font-size: 4vw;
  width: 100px;
  text-align: right;
  align-items: flex-end;
  padding-right: 20px;
}

section > div 
{
  padding-left: 20px;
  border-left: 5px solid #5d6e8a;
  margin-bottom: 30px;
}
/* Work Section */

.h1 {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
.header h2 h3 {
  display: inline-block;
  font-size: 48px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: darkslategrey;
}

.h1{
  display: flex;
  justify-content: start;
}

.header nav ul {
  display: flex;
  -ms-flex-align: end;
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
  text-decoration: underline;
}



#contact-me ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}