* 
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body 
{
    background-color: white;
}

a 
{
    color: white;
    text-decoration: none;
}

p 
{
    font-size: 16px;
}


.header 
{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:grey;
    color: dark grey;
}

.header h1 
{
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo 
{
    color: #d9dcd6;
}

.header nav 
{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul 
{
    list-style-type: none;
}

.header nav ul li 
{
    display: inline-block;
    margin-left: 25px;
}

.main-image 
{
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("https://www.vecteezy.com/free-vector/banner");
    background-size: cover;
    background-position: center;
}
.Subtitle
{
float: right;
}
.main-content 
{
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.float-left 
{
    float: left;
    margin-right: 25px;
}

.float-right 
{
    float: right;
    margin-left: 25px;
}
#About-Me, 
#Work,
#Contact-Me,
#Resume
{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#About-Me img,
#Work img,
#Contact-Me img
{
    max-height: 200px;
}

#About-Me h2, 
#Work h2,
#Contact-Me
{
    margin-bottom: 20px;
    font-size: 36px;
}
.footer 
{
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 
{
    font-size: 20px;
}